*{
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    cursor: url(https://cdn.custom-cursor.com/db/6882/32/lifestyle-origami-bird-cursor.png), auto;
}
/* .hero{
    height: 100vh;
    width: 100%;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/38094b95235473.5e92ecc4409a8.gif);
    background-position: center;
    background-size: cover; 
} */
.color-overlay{
    height: 86%;
    width: 100%;
    background-color: #000;
    background-size: cover;
    background-position: center;
    opacity: .7;
}
nav{ 
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo-icon{
    display: flex;
    align-items: center;
    padding-left: 4.5%;
}
.logo{
    position: absolute;
    color: white;
    font-size: 35px;
    background-color: rgb(140, 0, 255);
    background-size: 100%;
    background-repeat: repeat;
    background-image: linear-gradient(120deg, #eee, rgb(140, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    letter-spacing: 1px;
    cursor: url(https://cdn.custom-cursor.com/db/6881/32/lifestyle-origami-bird-pointer.png), auto;
}
span{
    color: rgb(140, 0, 255);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 35px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}    
nav ul li a:hover{
    color: rgb(140, 0, 255);
    transition: .4s;
    cursor: url(https://cdn.custom-cursor.com/db/6881/32/lifestyle-origami-bird-pointer.png), auto;
}
.btn{
    background-color: rgb(140, 0, 255);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    cursor: url(cursor-2.png), auto;
    transform: scale(1.2);
}

.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1330px;
    /* margin: 35px auto; */
    padding-bottom: 50px;
    text-align: center;
    min-height: 40px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    background-position: center;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:rgb(140, 0, 255);
}
.body{
    background-color: #191919;
    background-size: cover;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    animation: slideMe 1s ease-in;
}
.pra{
    color: grey;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    animation: slideMe 1s ease-in;
}
.button{
    background-color:rgb(140, 0, 255);
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    margin: 20px auto; 
    border: 2px solid transparent;
    padding: 5px;
    transition: .4s;
    animation: slideMe 1s ease-in;
}
.button:hover{
    transform: scale(1.2);
    cursor: url(https://cdn.custom-cursor.com/db/6881/32/lifestyle-origami-bird-pointer.png), auto;
}

@keyframes slideMe{
    0%{
        transform:skewX(53deg) translateX(-500px);
    }
    100%{
        transform: skew(0deg);
    }
}