html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    cursor: url(https://cdn.custom-cursor.com/db/6882/32/lifestyle-origami-bird-cursor.png), auto;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/38094b95235473.5e92ecc4409a8.gif);
    background-position: center;
    background-size: cover;
}
.color-overlay{
    height: 100%;
    width: 100%;
    background-color: #000;
    background-size: cover;
    background-position: center;
    opacity: .7;
}
nav{ 
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo-icon{
    display: flex;
    align-items: center;
    padding-left: 4.5%;
}
.logo{
    position: absolute;
    color: white;
    font-size: 35px;
    background-color: rgb(140, 0, 255);
    background-size: 100%;
    background-repeat: repeat;
    background-image: linear-gradient(120deg, #eee, rgb(140, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    letter-spacing: 1px;
    cursor: url(https://cdn.custom-cursor.com/db/6881/32/lifestyle-origami-bird-pointer.png), auto;
}
span{
    color: rgb(140, 0, 255);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 35px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}    
nav ul li a:hover{
    color: rgb(140, 0, 255);
    transition: .4s;
    cursor: url(https://cdn.custom-cursor.com/db/6881/32/lifestyle-origami-bird-pointer.png), auto;
}
.btn{
    background-color: rgb(140, 0, 255);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    cursor: url(cursor-2.png), auto;
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(140, 0, 255);
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(140, 0, 255);
    color:white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 85.5%;
    left: 48%;
}
.newslatter form input:last-child:hover{
    cursor: url(https://cdn.custom-cursor.com/db/6881/32/lifestyle-origami-bird-pointer.png), auto;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
}
.about-text p{
    color: grey;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.button-1{
    background-color: rgb(140, 0, 255);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.button-2{
    display: inline-block;
    background-color: rgb(140, 0, 255);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    left: 8%;
    border-radius: 30px;
    transition: .4s;
}

.button-2:hover, .button-1:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: url(https://cdn.custom-cursor.com/db/6881/32/lifestyle-origami-bird-pointer.png), auto;   
}
.gotop{
    position: fixed;
    /* justify-content: center; */
    /* align-items: flex-end; */
    border-radius: 30px;
    height: 60px;
    width: 60px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    line-height: 55px;
    padding-left: 19px;
    background-color: black;
    bottom: 60px;
    font-size: 25px;
    right: 40px;
    z-index: 2;
    cursor: url(https://cdn.custom-cursor.com/db/6881/32/lifestyle-origami-bird-pointer.png), auto;
}
.gotop:hover{
    background-color:rgb(140, 0, 255);
}